<%- include base/head.ejs %>
<%- include base/nav.ejs %>

<h1><%= msg %></h1>
<a href="/admin" class="btn btn-primary btn-lg">回到首页</a>
<a href="/admin/article_list" class="btn btn-primary btn-lg">文章列表页</a>

<%- include base/foot.ejs %>