<%- include base/head.ejs %>
<%- include base/nav.ejs %>

<div class="jumbotron">
    <div class="container">
        <h1>Hello, Manager!</h1>
        <p>您好系统管理员</p>
    </div>
</div>

<%- include base/foot.ejs %>